/.venv

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / build output
dist
*.local

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Mac / OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
